<app-layout></app-layout>

<div class="background-image"></div>
<div class="container mt-3">

    <h2 class="text-center custom-heading">Admin Dashboard</h2>
    <hr class="black-divider">

    <!-- The Cards that involve Volunteers need to be fixed to get the volunteers -->
    <div class="card-container">
        <div class="card c-small" (click)="goToV()">
            <h3>Total Volunteers</h3>
            
        </div>

        <div class="card c-small" (click)="goToO()">
            <h3>Total Opportunities</h3>
        </div>

        <div class="card c-small">
            <h3>Assigned Volunteers</h3>
        </div>
    </div>

    <div class="card-container">
        <div class="card c-wide">
            <h3>Top Volunteers</h3>
            <p>and the cow said moo and the cow said moo and the cow said moo and the cow said moo and the cow said moo and the cow said moo and the cow said moo and the cow said moo and the cow said moo</p>
            <table>
                <tr></tr>
            </table>
        </div>
        <div class="card c-wide">
            <h3>Top Opportunities</h3>
        </div>
    </div>
</div>