<div class="container">
    <legend>Create Opportunity</legend>
    <form>
        <div class="mb-3">
            <label for="txtName" class="form-label">Opportunity Name</label>
            <input type="text" name="name" [(ngModel)]="formdata.opportunityName" class="form-control" id="txtName" />
        </div>
        <div class="mb-3">
            <label for="txtCenterName" class="form-label custom-margin-top">Center Name</label>
            <input type="text" name="centerName" [(ngModel)]="formdata.centerName" class="form-control" id="txtCenterName" />
        </div>
        <button type="button" (click)="createOpportunity()" class="btn btn-primary custom-margin-top">Create</button>
    </form>
</div>


