#opportunities {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px; /* Add margin to create space between the button and the table */
}

#opportunities td, #opportunities th {
    border: 1px solid #ddd;
    padding: 8px;
}

#opportunities tr:nth-child(even) {
    background-color: #f2f2f2;
}

#opportunities tr:hover {
    background-color: #ddd;
}

#opportunities th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.opportunity-container {
    padding: 20px;
    position: relative;
}

.add-btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.add-btn:hover {
    background-color: #039c5b;
}

.plus-icon {
    margin-right: 8px;
    font-size: 18px;
}

.edit-btn, .view-btn {
    background-color: #ffc107;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    display: inline-block; /* Ensure buttons are treated as inline elements */
}

.edit-btn:hover, .view-btn:hover {
    background-color: #e0a800;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    float: right; /* Align Delete button to the right */
}

.delete-btn:hover {
    background-color: #d94444;
}
