<app-layout></app-layout>
<p>manage-volunteer works!</p>

<!-- TO DO:
    1. show list of volunteers' names 
    2. add volunteer
    3. edit volunteer
    4. 
    2. add icons to show filters for volunteers (using MatDialog and CheckBox maybe)
    3. Have to somehow find a way to tag volunteers and understand what each action does
    4. use mock endpoints (think Andreas & Micah are doing this) to handle the functionalities of each action-->

    <!--EXTRA:
        1. create services folder to handle actions
        2. create guards to prevent unauthorized access
        3. separate the classes created in component's files to models folder-->
