<app-layout></app-layout>
<div class="container mt-3">
    <!-- Top Row: Opportunities, Search Bar, Filter, and Add Button -->
    <div class="row mb-3 align-items-center">
        <div class="col-md-3">
            <a class="navbar-brand">Volunteers</a>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Search Volunteers..." (input)="onSearch($event)">
        </div>
        <div class="col-md-2">
            <!-- Custom Dropdown -->
            <div class="dropdown">
                <button class="btn btn-secondary w-100" (click)="toggleDropdown()">
                    Filter 
                    <i class="bi bi-chevron-down"></i> <!-- Bootstrap Icons dropdown icon -->
                </button>
                <ul class="dropdown-menu" *ngIf="dropdownVisible">
                    <li><a class="dropdown-item">Pending Approval/Approved</a></li>
                    <li><a class="dropdown-item">Pending Approval</a></li>
                    <li><a class="dropdown-item">Approved</a></li>
                    <li><a class="dropdown-item">Disapproved</a></li>
                    <li><a class="dropdown-item">Inactive</a></li>
                    <li><a class="dropdown-item" (click)="showAll()">All</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 text-end">
            <button class="btn btn-primary w-100" routerLink="/createVolunteer">+ Add Volunteer</button>
        </div>
    </div>
<table class="table" *ngIf="filteredVolunteers.length > 0">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Preferred Centers</th>
            <th scope="col">Approval Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vol of filteredVolunteers">
            <th scope="row">{{ vol.id }}</th>
            <td>{{ vol.first_name }}</td>
            <td>{{ vol.preferred_centers }}</td>
            <td>{{ vol.approval_status }}</td>
            <td>
                <!-- FIX LATER -->
                <!-- <button type="button" class="btn btn-success custom-margin-right" [routerLink]="['/manageOpportunities/volunteers', vol.id]">View Compatible Opportunities</button> -->
                <a href="" class="btn btn-primary" [routerLink]="['/editVolunteer', vol.id]">Edit</a>
                <button type="button" (click)="deleteVolunteer(vol.id)" class="btn btn-danger custom-margin-left">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="filteredVolunteers.length === 0" class="text-center mt-3">
    <p>No volunteers found matching your search criteria.</p>
</div>

<!-- TO DO:
    3. edit volunteer 
    5. filter
    6. Last priority: opportunities match !-->