<div class="container">
    <legend>Edit Opportunity</legend>
    <form>
        <div class="mb-3">
            <label for="txtName" class="form-label">Opportunity Name</label>
            <input type="text" name="name" [(ngModel)]="formdata.opportunityName" class="form-control" id="txtName" required />
        </div>
        <div class="mb-3">
            <label for="txtCenterName" class="form-label custom-margin-top">Center Name</label>
            <input type="text" name="centerName" [(ngModel)]="formdata.centerName" class="form-control" id="txtCenterName" required />
        </div>
        <button type="button" (click)="updateOpportunity()" class="btn btn-primary custom-margin-top">Update</button>
    </form>
</div>
