<!-- Main Container -->
<div class="container mt-3">
    <!-- Top Row: Opportunities, Search Bar, Filter, and Add Button -->
    <div class="row mb-3 align-items-center">
        <div class="col-md-3">
            <a class="navbar-brand">Opportunities</a>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Search Opportunities..." (input)="onSearch($event)">
        </div>
        <div class="col-md-2">
            <!-- Custom Dropdown -->
            <div class="dropdown">
                <button class="btn btn-secondary w-100" (click)="toggleDropdown()">
                    Filter 
                    <i class="bi bi-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" *ngIf="dropdownVisible">
                    <li>
                        <a class="dropdown-item" (click)="filterByRecent()">Most Recent (60 days)</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="toggleCenterDropdown()">By Center</a>
                        <ul class="dropdown-menu" *ngIf="centerDropdownVisible">
                            <li *ngFor="let center of availableCenters">
                                <a class="dropdown-item" (click)="filterBySelectedCenter(center)">{{ center }}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="showAll()">Show All</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 text-end">
            <button class="btn btn-primary w-100" routerLink="/manageOpportunities/create">+ Add Opportunity</button>
        </div>
    </div>
    
    <!-- Table -->
    <table class="table" *ngIf="filteredOpportunities.length > 0">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Opportunity Name</th>
                <th scope="col">Center Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredOpportunities">
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.opportunityName }}</td>
                <td>{{ item.centerName }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.startTime }}</td>
                <td>{{ item.endTime }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.status }}</td>
                <td>
                    <button type="button" class="btn btn-success custom-margin-right custom-margin-top" [routerLink]="['/manageOpportunities/volunteers', item.id]">View Volunteer Opportunity Matches</button>
                    <a href="" class="btn btn-primary custom-margin-top" [routerLink]="['/manageOpportunities/edit', item.id]">Edit</a>
                    <button type="button" (click)="deleteOpportunity(item.id)" class="btn btn-danger custom-margin-left custom-margin-top">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- No Matches Found Message -->
    <div *ngIf="filteredOpportunities.length === 0" class="text-center mt-3">
        <p>No opportunities found matching your search criteria.</p>
    </div>
</div>


